:root{
    --bodybg-color: hsl(30, 38%, 92%);
    --card-bg-color: hsl(0, 0%, 100%);
    --title-font:"Montserrat", sans-serif;
    --mont-font-weight:500;
    --mont-font-weight2:700;
    --description-font:"Fraunces", serif;
    --frances-font-weight:700;
    --font2-color:#40856B;
    --dark-Green-color: #1A4031;
    --title-color:hsl(212, 21%, 14%);
    --font-color:hsl(228, 12%, 48%);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--bodybg-color);
    width: 100%;
}
.container{
    width: 100%;
    min-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7em;
}
.card-container{
    display: flex;
    width: 45%;
    background-color: var(--card-bg-color);
    border-radius: 5px;
}
#product-image{
    width: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.product-bg{
    width: 100%;
    display: flex;
}
.mobile-view{
    display: none;
}
.card-container1{
    width: 100%;
}
.card-container h1{
    width: 80%;
    padding: 0 30px;
    text-align: left;
    font-size: 1.9em;
    font-family: var(--description-font);
    font-weight: 600;
}
.card-content1 p{
    width: 70%;
    display: flex;
    font-size: 1em;
    margin: 0px;
    padding: 20px 30px;
    font-family: var(--title-font);
    font-weight: var(--mont-font-weight);
    color: var(--font-color);
}
.price-tag{
    display: flex;
}
.price-tag h1{
    width: 25%;
    padding-left: 30px;
    color: var(--font2-color);
    font-family: var(--description-font);
    font-weight: 900;
}
.price-tag p{
    width: 20%;
    padding: 5px;
    text-decoration: line-through;
}
button{
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
}
.cart-btn{
    display: flex;
    padding: 30px;
}
#card-img{
    width: 15px;
    padding-right: 10px;
}
#icon-cart{
    width: 100%;
    padding: 15px 30px;
    font-size: 15px;
    background-color: var(--dark-Green-color);
    font-weight: var(--mont-font-weight2);
    font-family: var(--description-font);
    color: var(--card-bg-color);
}
@media screen and (max-width:450px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        width: 100%;
        margin: 0;
    }
    .card-container{
        width: 70%;
        margin-top: 3em;
        display: flex;
        flex-wrap: wrap;
    }
    .product-bg{
        display: none;
    }
    .mobile-view{
        display: ruby;
        width: 100%;
    }
    #mobile-view{
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .card-container .title-word{
        padding: 0;
        margin: 0;
        font-size: 1em;
        padding: 10px;
        font-family: var(--description-font);
    }
    .card-content1{
        width: 100%;
        padding: 5px;
    }
    .card-content1 h1{
        width: 70%;
        font-size: 25px;
        margin: 0;
        padding: 10px;
    }
    .card-content1 p{
        width: 90%;
        padding: 10px;
        margin: 0;
        font-size: 15px;
    }
    .price-tag{
        width: 30%;
    }
    .price-tag h1{
        padding: 10px;
    }
    .price-tag p{
        padding: 1em;
    }
    .cart-btn{
        padding: 10px 20px;
        margin: 0;
    }
    .icon-cart{
        padding: 20px 30px;
    }
}